@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    min-width: 1150px;
    background: rgb(2,0,36);
   
}

.intro {
    font-family: "Poppins", sans-serif;
    background: url('./img/slider-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.intro {
    a {
    color: #717171;
    text-decoration: none;
    }
}

li {
    list-style: none;
}

/* Main container */


.menu-container {
    nav {

        width: 80%;
        min-width: 1000px;
        height: 100%;
        position: relative;
    }
} 

.main-menu {
    li {
        a {
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-transform: capitalize;
            font-weight: 500;
            padding: 0 30px;
            font-size: 18px;
            &:hover{
                color: $green;
            }
        }
    }
}


.main-menu {
    li {
        .download-btn {
            padding: 12px 28px 11px 28px;
            border: 1px solid $green ;
            border-radius: 5px;
            font-size: 15px;
        }
    }
}

.main-menu {
    li {
        .download-btn {
           &:hover {
            background-color: $green;
           }
        }
    }
}


.mega-dropdown {
    display: flex;
    height: 300px;
    width: 100%;
    min-width: 1000px;
    background-color: #80db66;
    position: absolute;
    left: 0;
    top: 90px;
    border-radius: 0 0 10px 10px ;
    box-shadow: 0 4px 3px rgba(0,0,0,0.2);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, top 0.5s;
}

.main-menu {
    li {
        &:hover {
            .mega-dropdown {
                top: 70px;
                visibility: visible;
                opacity: 1;
        }
    }
}  
}

.mega-submenu {
    width: 25%;
    height: 80%;
    margin: 20px;
}

.mega-submenu:not(:first-child) {
    border-left: 1px solid rgba(129, 174, 211,0.5);
}

.mega-submenu {
    h5 {
        display: block;
        padding: 10px 30px;
        font-size: 0.9rem;
        color: steelblue;
    }
}

.mega-submenu {
    li {
        a {
            display: inline-block;
            padding: 5px 30px;
            font-size: 0.8rem;
            transition: padding 0.5s, color 0.5s;
        }
    }
}

.mega-submenu {
    li {
        a {

            &:hover {
                color: rgb(190, 118, 50);
                padding-left: 50px;
            }
        }
    }
}

.mega-submenu {
    img {
        width: 180px;
        padding: 10px 30px;
    }
} 

.banner {
    .intro-name {
        padding-left: 15rem;
    }
}
.banner {
    .intro-name {
        .hello {
            font-family: "jost-medium-font";
            font-weight: 400;
            color: $green;
            letter-spacing: 10px;
            font-size: 40px;
        }
    }
}

.banner {
    .intro-name {
        .name {
            font-family: "jost-medium-font";
            font-weight: 400;
            font-size: 100px;
            color: white;
        }
    }
}

// body {
//     margin: 0;
//     padding: 0;
//     background-color: #2f3542;
//     color: white;
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .animated-text {
//     font-size: 34px;
//     font-weight: 600;
//     min-width: 200px;
// }

// .animated-text span {
//     position: relative;
// }

// .animated-text span::before {
//     content: "Youtuber";
//     color: $green;
//     animation: words 20s infinite;
// }

// .animated-text span::after {
//     content: "";
//     position: absolute;
//     width: calc(100% +8px);
//     height: 100%;
//     background-color: #2f3542;
//     border-left: 1px $green;
//     right: -8px;
//     animation: cursor .8s infinite, typing 20s steps(14) infinite;
// }

// @keyframes cursor {
//     to{
//         border-left: 1px solid#ff7f5000;
//     }
// }

// @keyframes words {
//     0%,20% {
//         content: "Youtuber";
//     }

//     21%,40% {
//         content: "Software_Enginner";
//     }

//     41%,60% {
//         content: "Free_Lancer";
//     }

//     61%,80% {
//         content: "Blogger";
//     }

//     81%,100% {
//         content: "Developer";
//     }
// }

// @keyframes typing {
//     10%,15%,30%,50%,55%,70%,75%,90%,95% {
//         width: 0;
//     }
//     5%,20%,25%,40%,45%,60%,65%,80%,85% {
//         width: calc(100% + 8px);
//     }
// }